* {
    box-sizing: border-box;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body {
    background: rgb(46,48,54);
    
}

.container {
    display: grid;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    padding: 20px ;
    border: solid 1.5px rgba(255, 255, 255, 0.219);
    border-radius: 25px;
}



@media only screen and (min-width: 321px){
    .container {
        width: 85%;
    }   
  }

@media only screen and (min-width: 376px){
    .container {
        width: 75%;
    }    
  }
  
  @media only screen and (min-width: 426px){
    .container {
        width: 70%;
    }
  }
  
  @media only screen and (min-width: 769px){
    .container {
        width: 50%;
    }
  }


.conteudo {
    display: grid;
    justify-items: center; 
    align-items:center;
    color: rgba(255, 255, 255, 0.651);
}

.conteudo h1, h2{
    color: #57a7e9fb;
}

 p {
padding: 5px 0px;
margin: 0 ;

}

.btn {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 180px;
    height: 45px;
    font-size: 1.1rem;
    font-weight: 100;
    color: #57a7e9fb;
    background: rgba(255, 255, 255, 0);
    border: solid 1px #3a4752ef;
    border-radius: 5px;
    
}